// Contains Typographic Styles for [THEME NAME]
// Author Catchfire Creative
// Table of Contents:
// I.   Fonts Base
// II.  Heading Sizes
// III. Paragraph Base
// IV.  Hyphenation


//----------Font Base
body {
  text-rendering: optimizeLegibility;
}

body,
input,
button {  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 100%;
  line-height: $lineHeight;
}

//----------Heading Sizes

h1, .h1 {
  @include rem-fallback(font-size, 2rem);
}

h2, .h2 {
  @include rem-fallback(font-size, 1.5rem);
}

h3, .h3 {
  @include rem-fallback(font-size, 1.17rem);
}

h4, .h4 {
  @include rem-fallback(font-size, 1rem);
}

h5, .h5 {
  @include rem-fallback(font-size, 0.83rem);
}

h6, .h6 {
  @include rem-fallback(font-size, 0.75rem);
}

//----------Paragraphs

p {
  line-height: $lineHeight;
  @include rem-fallback(margin, 0, 0, 1rem);
}